@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">PDX Photo Booths</h1>
  <p>Check out <a href="/booths">our list</a> of opperational photo booths in portland.</p>
</div>