@{
  ViewData["Title"] = $"Delete {Model.Location}";
}

@model PhotoBooth.Models.Booth

<h4>Are you sure you want to delete the photobooth at @Model.Location?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Back to details", "Details", new { id = @Model.BoothId})</p>